bentoml==1.3.3
torchvision==0.19.0
joblib==1.4.2
tqdm==4.66.5
pip-chill==1.0.3
wincertstore
mlflow==2.15.1
ipykernel==6.29.5
pandas==2.2.2
setuptools==74.0.0
seaborn
boto3
mypy-boto3-s3
streamlit
dvc

pytest==8.3.2
tox
flake8
mypy==1.11.2
black==24.8.0
